@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  min-height: 100vh;

  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/fundoinicio.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

header {
  width: 100%;
  background: black;
}

.navbar {
  width: 100%;
  height: 144px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 50px;
}

nav a {
  text-decoration: none;
  color: #ffd700;
  font-size: 36px;
  font-family: "Italiana", serif;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu span {
  color: #ffd700;
  font-size: 36px;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 10px;
}
.perfil i {
  color: #ffd700;
  font-size: 52px;
  cursor: pointer;
}

.logo-header {
  width: 120px;
  height: auto;
}

main {
  width: 100%;
  min-height: 80vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 60px;
}

.texto {
  width: 40%;
}

.slogan {
  color: white;
  font-size: 18px;

  text-decoration: underline;
  margin-bottom: 20px;
}

h1 {
  color: #ffd700;
  font-size: clamp(50px, 8vw, 95px);
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  line-height: 1.1;
}

.descricao {
  margin-top: 30px;
  font-size: 22px;
  line-height: 35px;
}

button {
  background: #ffd700;
  color: black;

  border: none;

  padding: 18px 35px;

  font-size: 24px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.imagem img {
  background-image: url(../img/fundoinicio.png);
  width: 850px;
  max-width: 850px;
  height: auto;
}

.sobre {
  min-height: 100vh;
  background-color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 60px;
}

.texto {
  width: 45%;
}

.texto h2 {
  color: #f2ea00;
  font-size: 40px;
  margin-bottom: 20px;
}

.texto h1 {
  font-size: 64px;
  font-weight: normal;
  margin-bottom: 30px;
}

.texto h1 span {
  color: #f2ea00;
}

.texto p {
  font-size: 22px;
  line-height: 38px;
}

.foto-chefs {
  position: relative;
  width: fit-content;
}

.foto-chefs img {
  width: 450px;
}

.joaozin {
  position: absolute;
  top: 10px;
  left: 55px;

  color: white;
  font-size: 20px;
}

.mucal {
  position: absolute;
  top: 10px;
  left: 200px;

  color: white;
  font-size: 20px;
}

.benqx {
  position: absolute;
  top: 10px;
  left: 355px;

  color: white;
  font-size: 20px;
}

.chefs img {
  width: 100%;
  max-width: 800px;
}

.nomes {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  text-align: center;
}

.nomes span {
  font-size: 20px;
}

footer {
  background: #262525;
  text-align: center;
  padding: 40px;
  font-size: 22px;
}

.hero {
  width: 100%;
  min-height: 100vh;

  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/fundoinicio.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 60px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a,
  .menu span {
    font-size: 20px;
  }

  .perfil i {
    font-size: 40px;
  }

  .login-box {
    width: 95%;
  }
}

.redes {
  margin-top: 15px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.redes i {
  font-size: 32px;
  color: #ffea00;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.tema-btn {
  background: transparent;
  border: none;
  color: #ffd700;
  font-size: 32px;
  cursor: pointer;
  padding: 30px;
  margin: 0;
}

.tema-btn:hover {
  transform: scale(1);
}

@media (max-width: 768px) {
  
  .navbar {
    position: relative;
  }

  
  .perfil a {
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .perfil a i {
    font-size: 24px;
  }

  
  .tema-btn {
    position: absolute;
    right: 15px;
    top: 15px;

    font-size: 18px;
    padding: 0;
  }

  .tema-btn i {
    font-size: 24px;
  }

  
  .hero {
    background-size: cover;
    background-position: 70% center;
  }

  .hero .texto {
    width: 100%;
  }

  .slogan {
    font-size: 16px;
  }

  .hero h1 {
    font-size: 55px;
    line-height: 60px;
  }

  .descricao {
    font-size: 18px;
    line-height: 28px;
  }

  button {
    width: 100%;
    max-width: 300px;
    font-size: 18px;
    padding: 15px;
    margin-top: 20px;
  }

 
  .sobre {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
    gap: 30px;
  }

  .sobre .texto {
    width: 100%;
  }

  .sobre h2 {
    font-size: 30px;
  }

  .sobre h1 {
    font-size: 42px;
    line-height: 48px;
  }

  .sobre p {
    font-size: 18px;
    line-height: 30px;
  }

  .chefs {
    width: 100%;
  }

  .chefs img {
    width: 100%;
    max-width: 400px;
  }

  .nomes {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }

  .nomes span {
    font-size: 18px;
  }

  footer {
    padding: 25px 15px;
    font-size: 16px;
  }

  .redes i {
    font-size: 28px;
  }
}
